!.gitignore

*.qmd
*.geojson
*.xml
*.qgz
*.cpg
*.shx
*.prj
*.fgb
*.gpkg
*.gpkg-shm
*.gpkg-wal
*.xls
*.xlsx
*.dta
*.gpkg
*.pdf
*.gph
*.csv
*.tsv
*.shp
*.shf
*.dbf
*.db
*.json
*.html
*.png
*.rar
*.zip
*.m4a
*.mpeg
*.avi
*.mp3
*.mkv
*.mp4
*.pyc
*.Rproj.user
*.Rproj
*.lnk
*.jpeg.jpg
*.jpeg
*.jpg
*.dump
*.sld
